/* Reset default browser styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Chakra Petch", sans-serif;
  line-height: 1.6;
  background-color: #cfd8dc;
}
a {
  text-decoration: none;
}
header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #586a6a;
  color: #fff;
  border-radius: 0 0 15px 15px;
}



nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav li {
  display: inline;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  display: inline-block;
  transition: transform 0.2s ease-in-out;
}

nav a:hover {
  animation: colorChange 2s infinite;
  border-bottom: 4px solid;
  border-top: 4px solid;
  border-radius: 8px;
  transform: translateY(-8px);
}

.logo {
  width: 450px;
  border-radius: 15px;
  box-shadow: #2f4f4f 0px 4px 10px 4px;
}

main {
  gap: 2rem;
  padding: 2rem;
}

.intro {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  text-align: center;
  gap: 2rem;
  align-items: start;
}

.intro h1 {
  grid-column: span 3;
  grid-row: 1/2; /* Span across all columns */
  font-weight: 600;
  font-size: 3.5rem;
  margin-bottom: 1rem;
  height: 55vh;
  background-size: cover;
  background-image: url(/assets/bmw\ banner.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-radius: 15px;
  animation: colorChange 5s infinite;
  box-shadow: #586a6a 0px 4px 7px 4px;
}

.intro p.right {
  text-align: right;
  grid-column: 1/2; /* Left column */
  font-size: 1.7rem;
  font-weight: 400;
  font-style: italic;
}

.intro img {
  width: 100%;
  max-width: 400px;
  height: auto;
  grid-column: 2/3; /* Center column */
  justify-self: center;
  box-shadow: #586a6a 0px 4px 7px 4px;
}

.intro p.left {
  text-align: left;
  grid-column: 3/4; /* Right column */
  font-size: 1.7rem;
  font-weight: 400;
  font-style: italic;
}

.highlighted {
  display: grid;
  grid-template-columns: 2rem, 1fr, 1fr;
  grid-template-rows: repeat(3, 1fr);
}
.highlightedTitle {
  display: grid;
  grid-row: 1/2;
  grid-column: 1/4;
  text-align: center;
  font-size: 35px;
  align-content: space-evenly;
}
.bestSold {
  flex-basis: 30%;
  text-align: center;
  border: #586a6a solid 4px;
  border-radius: 0 15px 0 15px;
  box-shadow: #586a6a 0px 4px 7px 4px;
  margin: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  transition: transform 0.2s ease-in-out;
}
.bestSold:hover {
  transform: translateY(-5px);
}
.bestSold p {
  color: #001f54;
  font-size: 20px;
}
.bestSold img {
  width: 100%;
  height: auto;
  max-width: 200px;
}

footer {
  grid-column: span 3;
  text-align: center;
  background-color: #586a6a;
  color: white;
  padding: 1rem;
  margin-top: 2rem;
}
.insta {
  text-decoration: none;
  transition: transform 0.2s ease-in-out;
}
.insta:hover {
  transform: translateY(-5px);
}

/*    PRODUCTPAGE   */

/* Layout for Filter and Product Section */
.productContainer,
.filterContainer {
  flex: 1;
  padding: 2rem;
  margin: 0 3rem;
}

/* Position Filter Container beside Product Section */
.productPageLayout {
  display: flex;
}

/* Filter Section Styling */
.filterContainer {
  max-width: 250px;
  max-height: 450px;
  background-color: #f4f4f4;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: #586a6a 0px 4px 7px 4px;
  text-align: center;
}

.filterTitle {
  font-size: 1.5rem;
  color: #2f4f4f;
  margin-bottom: 1rem;
}

.filterOption {
  display: flex;
  align-items: center;
  margin: 0.8rem 0;
}

.filterOption label {
  margin-left: 0.5rem;
  font-size: 1.1rem;
  color: #333;
}

.applyFilterButton {
  padding: 0.6em 1.5em;
  border: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  margin-top: 1.5rem;
  position: relative;
  z-index: 0;
}

.applyFilterButton:before {
  content: "";
  background: linear-gradient(
    45deg,
    #4aad52,
    #c2efeb,
    #001f54,
    #48ff00,
    #2f4f4f,
    #008cde
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing_button 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.applyFilterButton:after {
  content: "";
  background: #222;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  z-index: -1;
}
/* Checkbox styling */
.filterCategory input[type="checkbox"] {
  width: 18px;
  height: 18px;
  accent-color: #586a6a; /* Pas de kleur van de checkbox aan */
  cursor: pointer;
}

.filterCategory label {
  font-size: 1.1rem;
  color: #2f4f4f;
  margin-left: 0.5rem; /* Spacing tussen checkbox en label */
}

.productContainer {
  display: flex;
  flex-wrap: wrap; /* Wrap the items */
  justify-content: space-between; /* Align items with space between */
  padding: 2rem;
  max-width: 1200px;
}

.productContainer article {
  flex: 1 1 calc(33.33% - 20px); /* Take up 33% of width minus the gap */
  margin: 0 20px 20px 0;
  background-color: #f4f4f4;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: #586a6a 0px 4px 7px 4px;
  text-align: center;
}

.productContainer img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.productContainer p.itemtitle {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 1rem 0 0.5rem;
  text-decoration: none;
  color: #2f4f4f;
}

.productContainer p.price {
  font-size: 1.1rem;
  margin: 1.5rem 0 1.5rem;
  color: #333;
}

.button {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  touch-action: manipulation;
  margin: 0.5rem 0;
  width: 100%;
  text-align: center;
}

.button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #4aad52,
    #c2efeb,
    #001f54,
    #48ff00,
    #2f4f4f,
    #008cde
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing_button 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

/*      individual product page     */
.specifiekeProducten {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productTitle {
  font-family: "Chakra Petch", sans-serif;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
  color: #2f4f4f;
}

.specifiekeProductenContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.specifiekeProducten img {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 8px;
  margin-right: 2rem;
  box-shadow: #586a6a 0px 4px 7px 4px;
}

.specifiekeProductenContent article:nth-of-type(2) {
  flex: 2;
}
.priceTag {
  font-size: 4.5rem;
  font-weight: bold;
  margin-top: 1.5rem;
  color: #333;
  background-color: #f4f4f4;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  text-align: center;
}

.specifiekeProducten p {
  font-size: 1.2rem;
  line-height: 1.6;
}

.specifiekeProducten ul {
  list-style-type: square;
  padding-left: 3.5rem;
}

.specifiekeProducten ul li {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

/*    Contact  Page     */

.contact-container {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: #586a6a 0px 4px 7px 4px;
}
.contact-details,
.business-hours,
.contact-form,
.location-map {
  margin-bottom: 2rem;
}
.contact-form h2 {
  font-size: 25px;
  margin-top: 2rem;
}
.contact-details p,
.business-hours ul li {
  font-size: 1.1rem;
}

.business-hours ul {
  list-style: none;
  padding: 0;
}

.business-hours ul li {
  margin-bottom: 0.5rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

label {
  font-weight: 600;
  color: #2f4f4f;
}

input,
textarea {
  padding: 0.8rem;
  border: 2px solid #586a6a;
  border-radius: 5px;
  font-size: 1rem;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #4aad52;
}
.contactButton {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  touch-action: manipulation;
  margin-left: 30%;
  width: 40%;
  text-align: center;
}

.contactButton:before {
  content: "";
  background: linear-gradient(
    45deg,
    #4aad52,
    #c2efeb,
    #001f54,
    #48ff00,
    #2f4f4f,
    #008cde
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing_button 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.contactButton:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
#map {
  height: 350px;
  border-radius: 10px;
  box-shadow: #586a6a 0px 4px 7px 4px;
}

@media screen and (max-width: 768px) {
  header {
    display: flex;
  }
  nav {
    flex-direction: column;
    width: 100%;
  }
  .intro {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .intro p.right {
    font-size: 15px;
    text-align: left;
  }
  .intro p.left {
    font-size: 15px;
    text-align: left;
  }
  .title {
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }
  .souf {
    margin: 0 auto;
    border-radius: 15px;
  }
  .highlighted {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
  }
  .specifiekeProductenContent {
    display: flex;
    flex-direction: column;
  }
  .productFoto {
    flex-direction: row;
    width: 100%;
    margin-bottom: 3rem;
  }
  .specifiekeProductenContent ul {
    margin-top: 3rem;
  }
  .contact-container {
    width: 97%;
  }
  .productButtons {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
  }
  .productButtons button {
    width: 15rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1000px) {
  header {
    display: flex;
  }
  nav {
    flex-direction: column;
    width: 100%;
  }
  .intro {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .intro p.right {
    font-size: 25px;
    text-align: left;
  }
  .intro p.left {
    font-size: 25px;
    text-align: left;
  }
  .title {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .souf {
    margin: 0 auto;
    border-radius: 15px;
  }
  .highlighted {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
  }
  .specifiekeProductenContent {
    display: flex;
    flex-direction: column;
  }
  .productFoto {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    margin-bottom: 3rem;
  }
  .specifiekeProductenContent ul {
    margin-top: 3rem;
  }
  .contact-container {
    width: 97%;
  }
  .productButtons {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
  }
  .productButtons button {
    width: 25rem;
  }
}

@keyframes colorChange {
  0% {
    color: #4aad52;
  }
  25% {
    color: #c2efeb;
  }
  50% {
    color: #001f54;
  }
  75% {
    color: #586a6a;
  }
  100% {
    color: #4aad52; /* Return to the first color */
  }
}
@keyframes glowing_button {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
